.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.chart {
  grid-column: 2 / span 16;
  grid-row: 2 / span 8;
}

.options {
  grid-column: 19 / span 4;
  grid-row: 2 / span 12;
}

.years {
  grid-column: 2 / span 16;
  grid-row: 10 / span 2;
}

h1 {
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
}

ul {
  list-style: none;
  padding-left: 0.2em;
}

li {
  display: flex;
}

.color-text {
  margin-left: 1em;
}